.units {
  font-family: Georgia, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  height: 52px;
  line-height: 52px;
  border-radius: 50%/25%;
  margin: 0;
  border: 2px solid #666;
}
