.unit {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
  cursor: pointer;
  pointer-events: none;
  color: lightgrey;
  border-left: 2px solid #666;

  &:first-child {
    border-left: none;
  }
}

.available {
  pointer-events: auto;
  color: #333;
  background-color: #fff;
}

.selected {
  background-color: orange;
}
